/* CSS Document */

/* ajeita configuração BOOTSTRAP */
/* original: .navbar .container{width:auto;}*/
 .container {max-width:940px; } 
/* fim ajeita configuração BOOTSTRAP */

/* inclusão de ícone fora do pacote do bootstrap */
.icon-pedidos-shopping-bag {
  display: inline-block;
  width: 16px;
  height: 16px;
  margin-top: -1px;
  *margin-right: .1em;
  line-height: 14px;
  vertical-align: text-top;
  background-image: url("../img/icon-pedidos-shopping-bag.png");
  background-position: 0	0;
  background-repeat: no-repeat;
}


/* tabela para visualização de informações de cadastro */
.table-info-cadastro th {
	text-align:right;
}


/* capricho na tabela de pedido para fonte ficar maior e etc. */
.table-pedido th, td {
	vertical-align:middle;	
}

.table-pedido .coluna-pedido {
	width:80px;
}

.coluna-quantidade {
	width:95px;
}

.table-pedido thead th {
	font-size:14px;
	text-align:center;
}

.table-pedido tbody th {
	font-size:16px;
	text-align:left;
}

.table-pedido td {
	font-size:16px;
	text-align:center;
}
/* fim capricho na tabela de pedido */

@media print{
	.table-pedido thead th {
		font-size:12px;
	}
	
	.table-pedido tbody th {
		font-size:12px;
	}
	
	.table-pedido tbody td {
		font-size:12px;
	    line-height: normal;
	}		
	
	.table-condensed>tbody>tr>td {
		font-size:12px;
	    line-height: normal;
	    padding: 1px;			
	}
	
	.table-condensed>tbody>tr>th {
		font-size:12px;
	    line-height: 1.1;
	    padding: 3px;			
	}	
}


/* capricho no formulário de login */

  .form-signin {
	max-width: 380px;
	padding: 10px 20px 20px;
	margin: 0 auto 20px;
	background-color: #fff;
	border: 1px solid #e5e5e5;
	-webkit-border-radius: 5px;
	   -moz-border-radius: 5px;
			border-radius: 5px;
	-webkit-box-shadow: 0 1px 2px rgba(0,0,0,.05);
	   -moz-box-shadow: 0 1px 2px rgba(0,0,0,.05);
			box-shadow: 0 1px 2px rgba(0,0,0,.05);
  }

/* fim capricho no formulário de login */